{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MegsArtist{% endblock %}

{% block page_content %}
        <div class="page-header">
            <div class="row text-center form-tabs">
            <div class="col-md-2 col-md-offset-4"><a id=form_link href="/artists/add/">Edit profile</a></div>
            <div class="active col-md-2"><a id=form_link href="/tracks/add/{{ trackForm.artistName.data }}">Upload music</a></div>
        </div>
    </div>
        <div class="jumbotron">
   <form method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(trackForm)}}
    </form>
        </div>
{% endblock %}