{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MegsArtist{% endblock %}

{% block page_content %}
    <div class="page-header">
            <div class="row text-center form-tabs">
            <div class="active col-md-2 col-md-offset-4"><a href="/artists/add/">Profile</a></div>
            <div class="col-md-2"><a href="/tracks/add/{{ artistForm.artistName.data }}">Music</a></div>
        </div>

        <h1>Add an Artist</h1>
    </div>

<form method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(artistForm)}}
</form>
{% endblock %}