{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MegsArtist{% endblock %}

{% block page_content %}
    <div class="text-center">
    <div class="row">
        <h1 class="landing-brand">Megs<strong>Artist</strong></h1>

        <div class="landing-text">Connect with <strong>fans</strong> and <strong>artists</strong></div>
        <div class="landing-text">Recommend &amp; discover <strong>new music</strong></div>
    </div>
    <div class="row">
            <h2 class="landing-text">Are you an
            <button type="button" data-toggle="modal" data-target=".loginModal" class="btn">Artist
            </button>
            or
            <a href="/user/fan/" ><button type="button"  class="btn">Fan</button></a>
            ?
            </h2>
        </div>
    <div class="landing-text">
        {% if session['artistname'] %}
            <div>
            <a class="landing-text" href="/user/{{session['artistname']}}"><h2 class="landing-text">Continue as <strong>{{session['artistname']}}</strong>?</h2></a>
            </div>

        {% endif %}

    </div>

    <div class="loginModal modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form)}}
                </div>

            </div>
        </div>

    </div>
    </div>
{% endblock %}


