audio{
    width: 100%;
}
#genre_error{
    color: #fefffd;
}

.tt-dataset {
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 20px;
    width: 200px;
    /* height: 150px; */
    padding: 10px;
    background-color: white;
}
.tt-suggestion.tt-selectable:hover,.tt-suggestion.tt-selectable:active,.tt-suggestion.tt-selectable.tt-cursor {
    background-color: #DBE8E6;
}

.tt-suggestion.tt-selectable {
    cursor: pointer;
}

#tracks li.active {
  background-color: #CCCCCC;
}

#tracks li {
    list-style-type: none;
  cursor: pointer;
}
li.active:before {
        content: '\25BA';
}

/*Lauren's*/
.navbar-default {
  background-color: #8a888a !Important;
  border-color: #d8d2d1 !Important;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fdfdfd;
  background-color: #d8d2d1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fdfdfd;
  background-color: #d8d2d1;
}
.navbar-default .navbar-toggle {
  border-color: #d8d2d1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d8d2d1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.navbar-default .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfdfd;
    background-color: #d8d2d1;
  }
}
/*body{
    background-image:url("img/Untitled.jpg")
}*/
#phone{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
/*End*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.landing-brand{
    color:white;
    font-size: 20px;
    margin-top: 12%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    /*include pink font stuff*/
}
.landing-text{
    font-size:15px;
    margin-top:1%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: white;
}
.form-tabs div{
    font-size: 25px;
}
.form-tabs div.active{
    font-weight: bold;
    text-decoration: underline;
}
.modal .twitter-typeahead{
        width: 100%;
}
.panel{
    min-height: 100px !Important;
}
#prev, #next{
    width: 49%;
}
.list-group{
    margin-bottom: 0px;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.btn-lg{
    background-color: #fefffd;
    border-color: #676867;
    color: grey;
        border-color: black;
    border-width: 1px;
}
.btn-lg:hover{
    background-color: rgb(221, 221, 215);
}
.token-link{
    background-color: white;
    color: grey;
    font-weight: 200;
    height: 60%;
}
body {
    background-image: url("/static/img/Untitled.jpg");
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-attachment: fixed;
    font-weight: 300;
}

#form_link{
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 70%;
}
#navbar_link{
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
#artist-link{
    color:grey;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
#base-footer{
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.loginModal .modal-body{
    text-align: left;
}
.loginModal .modal-body #submit, #submit{
    width: 100%;
}
.panel.panel-default.artist-highlight{
    background-color: lightcyan;
}
.panel.panel-default.artist-highlight a#artist-link{
    color: black;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
.navbar-form{
    position: absolute;
    right: 1%;
}
.no-padding{
    padding: 0 !important;
    margin: 0 !important;
}