{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Jon's Music{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Add an Artist</h1>
    </div>

    {{ wtf.quick_form(artistForm) }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".addGenre">Small modal</button>

    <div class="addGenre modal fade addGenre" tabindex="-1" role="dialog" aria-labelledby="addGenre">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Add a Genre</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
      <span class="input-group-btn">
        <button id="addGenre" class="btn btn-default" type="button">Add New Genre</button>
      </span>
                                        <input id="genreInput" type="text" class="form-control" placeholder="Ex: Soft Rock">
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

{% endblock %}