{% extends "base.html" %}

{% block title %}MegsArtist{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if artistName == "null" %}
            <h1>Sorry, we have no record of them.</h1>
        {% else %}
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                                <div class="col-md-8">
                                    <div class="row">
                                        <h1>{{ artistName }}</h1>
                                        {% if current_user.is_authenticated and current_user.artist.name == artistName %}
                                        <h3><a href="/artists/add/">Edit Your Page</a></h3>
                                        {%  endif %}
                                    </div>
                                    <div class="row">
                                        {% for tag in tags %}
                                            <a class="token-link" href="/tags/{{ tag.name }}"> {{ tag.name }}</a>
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    {% if artistImageURL!="no_profile.png" %}
                                        <img src="/uploadedImg/{{ artistImageURL }}" class="artist-image img-circle img-responsive">
                                    {% endif %}
                                </div>

                            <div class="col-md-12 no-padding">
                                <p>{{ artistDescription }}</p>
                            </div>
                        </div>
                        {% if tracks|length > 0 %}
                        <div class="col-md-4">
                            <h2 class="text-center">Tracks</h2>
                            <ul class="list-group" id="tracks">
                                {% for track in tracks %}
                                    <li class="list-group-item"
                                        data-track-url="/uploadedTrack/{{ track.url }}">{{ track.name }}</li>
                                {% endfor %}
                            </ul>
                            <button id="prev" type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                            </button>
                            <button id="next" type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                            </button>
                            <audio id="player" preload = "none" controls="controls">
                                Your browser does not support the <code>audio</code> element.
                                <source id="player-source" src="#" type="audio/wav">
                            </audio>
                        </div>
                        {% endif %}
                    </div>
                    <br>

                    <div class="row">


                    </div>


                {% if events|length > 0 %}
		                <div class="row">
                 <div class="col-md-6">
                    <h2>Events</h2>
                    <!--events -->
                <ul class="list-group">
                    {% for event in events %}
                        <li class="list-group-item row"><div class="col-md-4">{{ event.name }}</div> <div class="col-md-4">{{ event.city }}</div> <div class="col-md-4">{{ event.address }}</div></li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
                </div>
            </div>
        {% endif %}


    </div>
</div>

{% endblock %}
